a.task {
    font-weight:bold;
    display: block;
    transition:.3s;
    text-decoration: none;
    text-align: center;
    font-size: 15pt; 
    color: #000000;
    width: auto;
    padding: 20px;
    font-family: cursive;
}

a.task:hover{
    font-weight:bold;
    background-color: #adadad;/*背景色*/
}

a.logout {
    margin-top: 160%;
    font-weight:bold;
    display: block;
    transition:.3s;
    text-decoration: none;
    text-align: center;
    font-size: 15pt; 
    color: #000000;
    width: auto;
    padding: 20px;
    font-family: cursive;
}

a.logout:hover{
    font-weight:bold;
    background-color: #adadad;/*背景色*/
}

.title {
    padding: 3px;
    text-align: center;
    font-size: 15pt; 
    color: #000000;
    font-family: cursive;
    border-bottom: 2px solid rgb(255,64,129);
}

.task a {
	text-decoration: none;
	color: black;
	font-weight:bold;
    text-decoration:none;
}

.task a:link {
color:#000000;
}

.task a:hover {
color:#ff4081;
text-decoration:underline;
}

.task a:active {
color:#ff4081;
}

.mdl-navigation {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	box-sizing: border-box
}

.mdl-navigation__link {
	color: #424242;
	text-decoration: none;
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0;
	opacity: .87
}

.mdl-navigation__link .material-icons {
	vertical-align: middle
}

.mdl-layout {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	-webkit-overflow-scrolling: touch
}

.mdl-layout.is-small-screen .mdl-layout--large-screen-only {
	display: none
}

.mdl-layout:not(.is-small-screen) .mdl-layout--small-screen-only {
	display: none
}

.mdl-layout__container {
	position: absolute;
	width: 100%;
	height: 100%
}

.mdl-layout__title, .mdl-layout-title {
	display: block;
	position: relative;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
	line-height: 1;
	letter-spacing: .02em;
	font-weight: 400;
	box-sizing: border-box
}

.mdl-layout-spacer {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

.mdl-layout__drawer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: 240px;
	height: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	box-sizing: border-box;
	border-right: 1px solid #e0e0e0;
	background: #fafafa;
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	will-change: transform;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	color: #424242;
	overflow: visible;
	overflow-y: auto;
	z-index: 5
}

.mdl-layout__drawer.is-visible {
	-webkit-transform: translateX(0);
	transform: translateX(0)
}

.mdl-layout__drawer.is-visible ~.mdl-layout__content.mdl-layout__content
	{
	overflow: hidden
}

.mdl-layout__drawer>* {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0
}

.mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title
	{
	line-height: 64px;
	padding-left: 40px
}

@media screen and (max-width:1024px) {
	.mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title
		{
		line-height: 56px;
		padding-left: 16px
	}
}

.mdl-layout__drawer .mdl-navigation {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	display: block;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 16px 40px;
	margin: 0;
	color: #757575
}

@media screen and (max-width:1024px) {
	.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
		padding: 16px
	}
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
	background-color: #e0e0e0
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link--current {
	background-color: #e0e0e0;
	color: #000
}

@media screen and (min-width:1025px) {
	.mdl-layout--fixed-drawer>.mdl-layout__drawer {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

.mdl-layout__drawer-button {
	display: block;
	position: absolute;
	height: 48px;
	width: 48px;
	border: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	font-size: 26px;
	line-height: 56px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 8px 12px;
	top: 0;
	left: 0;
	color: rgb(255, 255, 255);
	z-index: 4
}

.mdl-layout__header .mdl-layout__drawer-button {
	position: absolute;
	color: rgb(255, 255, 255);
	background-color: inherit
}

@media screen and (max-width:1024px) {
	.mdl-layout__header .mdl-layout__drawer-button {
		margin: 4px
	}
}

@media screen and (max-width:1024px) {
	.mdl-layout__drawer-button {
		margin: 4px;
		color: rgba(0, 0, 0, .5)
	}
}

@media screen and (min-width:1025px) {
	.mdl-layout__drawer-button {
		line-height: 54px
	}
	.mdl-layout--no-desktop-drawer-button .mdl-layout__drawer-button,
		.mdl-layout--fixed-drawer>.mdl-layout__drawer-button,
		.mdl-layout--no-drawer-button .mdl-layout__drawer-button {
		display: none
	}
}

.mdl-layout__header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	box-sizing: border-box;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	min-height: 64px;
	max-height: 1000px;
	z-index: 3;
	background-color: rgb(255, 64, 129);
	color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-property: max-height, box-shadow
}

@media screen and (max-width:1024px) {
	.mdl-layout__header {
		min-height: 56px
	}
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header
	{
	margin-left: 240px;
	width: calc(100% - 240px)
}

@media screen and (min-width:1025px) {
	.mdl-layout--fixed-drawer>.mdl-layout__header .mdl-layout__header-row {
		padding-left: 40px
	}
}

.mdl-layout__header>.mdl-layout-icon {
	position: absolute;
	left: 40px;
	top: 16px;
	height: 32px;
	width: 32px;
	overflow: hidden;
	z-index: 3;
	display: block
}

@media screen and (max-width:1024px) {
	.mdl-layout__header>.mdl-layout-icon {
		left: 16px;
		top: 12px
	}
}

.mdl-layout.has-drawer .mdl-layout__header>.mdl-layout-icon {
	display: none
}

.mdl-layout__header.is-compact {
	max-height: 64px
}

@media screen and (max-width:1024px) {
	.mdl-layout__header.is-compact {
		max-height: 56px
	}
}

.mdl-layout__header.is-compact.has-tabs {
	height: 112px
}

@media screen and (max-width:1024px) {
	.mdl-layout__header.is-compact.has-tabs {
		min-height: 104px
	}
}

@media screen and (max-width:1024px) {
	.mdl-layout__header {
		display: none
	}
	.mdl-layout--fixed-header>.mdl-layout__header {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

.mdl-layout__header--transparent.mdl-layout__header--transparent {
	background-color: transparent;
	box-shadow: none
}

.mdl-layout__header--seamed, .mdl-layout__header--scroll {
	box-shadow: none
}

.mdl-layout__header--waterfall {
	box-shadow: none;
	overflow: hidden
}

.mdl-layout__header--waterfall.is-casting-shadow {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.mdl-layout__header--waterfall.mdl-layout__header--waterfall-hide-top {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.mdl-layout__header-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	box-sizing: border-box;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 64px;
	margin: 0;
	padding: 0 40px 0 80px
}

.mdl-layout--no-drawer-button .mdl-layout__header-row {
	padding-left: 40px
}

@media screen and (min-width:1025px) {
	.mdl-layout--no-desktop-drawer-button .mdl-layout__header-row {
		padding-left: 40px
	}
}

@media screen and (max-width:1024px) {
	.mdl-layout__header-row {
		height: 56px;
		padding: 0 16px 0 72px
	}
	.mdl-layout--no-drawer-button .mdl-layout__header-row {
		padding-left: 16px
	}
}

.mdl-layout__header-row>* {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0
}

.mdl-layout__header--scroll .mdl-layout__header-row {
	width: 100%
}

.mdl-layout__header-row .mdl-navigation {
	margin: 0;
	padding: 0;
	height: 64px;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

@media screen and (max-width:1024px) {
	.mdl-layout__header-row .mdl-navigation {
		height: 56px
	}
}

.mdl-layout__header-row .mdl-navigation__link {
	display: block;
	color: rgb(255, 255, 255);
	line-height: 64px;
	padding: 0 24px
}

@media screen and (max-width:1024px) {
	.mdl-layout__header-row .mdl-navigation__link {
		line-height: 56px;
		padding: 0 16px
	}
}

.mdl-layout__obfuscator {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 4;
	visibility: hidden;
	transition-property: background-color;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.mdl-layout__obfuscator.is-visible {
	background-color: rgba(0, 0, 0, .5);
	visibility: visible
}

@
supports (pointer-events:auto) { .
	mdl-layout__obfuscator {background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	transition-property: opacity;
	visibility: visible;
	pointer-events: none
}

.mdl-layout__obfuscator.is-visible {
	pointer-events: auto;
	opacity: 1
}

}
.mdl-layout__content {
	-ms-flex: 0 1 auto;
	position: relative;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	z-index: 1;
	-webkit-overflow-scrolling: touch
}

.mdl-layout--fixed-drawer>.mdl-layout__content {
	margin-left: 240px
}

.mdl-layout__container.has-scrolling-header .mdl-layout__content {
	overflow: visible
}

@media screen and (max-width:1024px) {
	.mdl-layout--fixed-drawer>.mdl-layout__content {
		margin-left: 0
	}
	.mdl-layout__container.has-scrolling-header .mdl-layout__content {
		overflow-y: auto;
		overflow-x: hidden
	}
}