@charset "UTF-8";
*::-webkit-input-placeholder {
    color: #fff;
}
*:-moz-placeholder {
    color: #fff;
}
*::-moz-placeholder {
    color: #fff;
}
*:-ms-input-placeholder {
    color: #fff;
}

body {
  background-image: url(images/room.jpg);
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card {
	height: 60%;
	width: 50%;
	margin-top: 3%;
	margin-left: auto; 
	margin-right: auto;
}

.card-title {
  position: relative;
  height: 100%;
  width: 100%;
  }

.card-title p {
  position: absolute;
  color: black;
  text-align: center;
  font-family: cursive;
  font-size: 150%;
  width: 100%;
  padding: 10px;
  margin-left: auto; 
  margin-right: auto;
  top: 30%; 
  background: rgba(255,255,255,0.5);
  
  }

.card-title img {
  height: 40%;
  width: 100%;
  }


.card-body {
	height: 100%;
	width: 100%;
}

.btn-btn-success {
	margin-top: 3%;
	text-align: right;
}

.login-font {
	font-family: cursive;
}

.error-message {
	color: red;
	font-family: cursive;
}

.text-boxs {
	width: 100%;
    box-sizing: border-box;
}

.textbox {
  margin-top: 3%;
  font-family: cursive;
  border: 1px solid #acacac;
  color: #fff;
  opacity: .7;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  width: 90%;
  height: 1%;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  font-size: 150%;
  outline: none;
  background-color: #acacac;
}

.textbox:focus {
  width: 100%;
  outline: none;
}