@charset "UTF-8";
*::-webkit-input-placeholder {
    color: #fff;
}
*:-moz-placeholder {
    color: #fff;
}
*::-moz-placeholder {
    color: #fff;
}
*:-ms-input-placeholder {
    color: #fff;
}

.card {
	height: 680%;
	width: 40%;
	margin-top: 3%;
	margin-left: auto; 
	margin-right: auto;
}

.card-title {
  position: relative;
  height: 100%;
  width: 100%;
  }

.card-title p {
  position: absolute;
  color: black;
  text-align: center;
  font-family: cursive;
  font-size: 200%;
  width: 100%;
  padding: 10px;
  margin-left: auto; 
  margin-right: auto;
  top: 30%; 
  background: rgba(255,255,255,0.5);
  
  }

.card-title img {
  height: 40%;
  width: 100%;
  }

body {
  background-image: url(images/room.jpg);
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card-body {
	font-family: cursive;
 position: relative;
	height: 100%;
	width: 100%;
}
.register-form {
	position: relative;
}
.blockform {
    margin-left: auto;
    margin-right: auto;
    
}
.btn-btn-success {
	margin-top: 3%;
	font-family: cursive;
	text-align: right;
}