
.mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgb(0 0 0 / 14%), 0 11px 15px -7px rgb(0 0 0 / 12%), 0 24px 38px 3px rgb(0 0 0 / 20%);
    width: 280px;
}

.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-weight: bold;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdl-dialog__actions>* {
    margin-right: 8px;
    height: 36px;
}

.mdl-button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

body {
margin:0;
padding:0;
font-family: cursive;
}

#change-project {
	font-family: cursive;
    border-radius: 5px;
}

input::-webkit-input-placeholder {
	font-family: cursive;
}

.mdl-textfield__input {
	position : center;
}

.search {
	display: inline-flex;
}

.mdl-layout__drawer {
	background-color: #c0c0c0;
}

.button {
	cursor: pointer;
}

a.task {
    font-weight:bold;
    display: block;
    transition:.3s;
    text-decoration: none;
    text-align: center;
    font-size: 15pt; 
    color: #000000;
    width: auto;
    padding: 20px;
    font-family: cursive;
}

a.task:hover{
    font-weight:bold;
    background-color: #adadad;/*背景色*/
}

a.logout {
    margin-top: 160%;
    font-weight:bold;
    display: block;
    transition:.3s;
    text-decoration: none;
    text-align: center;
    font-size: 15pt; 
    color: #000000;
    width: auto;
    padding: 20px;
    font-family: cursive;
}

a.logout:hover{
    font-weight:bold;
    background-color: #adadad;/*背景色*/
}

.title {
    padding: 3px;
    text-align: center;
    font-size: 15pt; 
    color: #000000;
    font-family: cursive;
    border-bottom: 2px solid rgb(255,64,129);
}

.task a {
	text-decoration: none;
	color: black;
	font-weight:bold;
    text-decoration:none;
}

.task a:link {
color:#000000;
}

.task a:hover {
color:#ff4081;
text-decoration:underline;
}

.task a:active {
color:#ff4081;
}

.tasks{
    padding: 0;
    color: black;
  }
  
.tasks li {
    color: black;
    border-left: solid 8px rgb(255,64,129);/*左側の線*/
    background: whitesmoke;/*背景色*/
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none!important;
  }
  
  .area {
  width: auto;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
 }
 
input[name="tab_name"] {
  display: none;
  
}
 
input:checked + .tab_class {
  border-bottom: 3px solid rgb(255 64 129);
}
 
.content_class {
  display: none;
  width: 100%;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}

.task {
	font-size: 20px;
	border-top: 1px solid 100%;
}

.task2 {
	font-size: 20px;
}

.user-icon {
	border-radius: 50%;
	margin-right: 8px;
	margin-left: 20px;
}

.calendar-icon {
	margin-right: 4px;
}

.not-start {
	font-size: 20px;
	float: right;
	margin-right:60%;
	margin-top:15px;
}

.in-start {
	font-size: 20px;
	float: right;
	margin-right:50%;
	margin-top:15px;
}

.completed {
	font-size: 20px;
	float: right;
	margin-right:40%;
	margin-top:15px;
}

.limitdate {
	display: contents;
	float: right;
}

.PIC {
	display: contents;
}

.userdate {
	display: flex;
}

.date {
	margin-bottom: 3px;
}

dl.search1{
	position:relative;
	background-color:#fff;
	border:1px solid #aaa;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	border-radius:6px;
}
dl.search1 dt{
	margin-right:40px;
	padding:8px 0 8px 8px;
}
dl.search1 dt input{
	width:350px;
	height:24px;
	line-height:24px;
	background:none;
	border:none;
	outline: none;
}
dl.search1 dd{
	position:absolute;
	top:0;
	right:0;
}
dl.search1 dd button{
	display:block;
	padding:10px;
	background:none;
	border:none;
	cursor: pointer;
    -webkit-appearance: button;
}
dl.search1 dd button span{
	display:block;
	width:20px;
	height:20px;
	background:url('images/search.png') no-repeat scroll 0 0;
}

.app {
	display: flex;
}

.button {
	margin-left:10px;
	background-color: transparent;
	border: none
}

/* リストデザイン026 */
.tab_class {
  width: calc(100%/5);
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
  cursor: pointer;
  border-right: 1px solid;
  position: relative;
}

.tab_class::after {
position: absolute;
left: 0;
content: '';
width: 100%;
height: 2px;
background: rgb(255 64 129);
bottom: -2px;
transform: scale(0, 1);
transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
transition: transform 0.3s;   /*変形の時間*/
}

.tab_class:hover::after {
transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
